body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #00ffcc;
    font-size: 3em;
}
h2 {
    color: #ff007f;
}
